@model WebbenVNext.Models.HomeViewModel

<h1>Webben vNext</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Ladda upp bild</h2>

        <div class="card">
            <div class="card-block">
                <form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
                    <input type="file" name="files" multiple accept="image/*" id="files" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Bildbibliotek</h2>

        @foreach (var url in Model.BlobUrls)
        {

            <div class="card">
                <img src="@url" class="img-fluid" />
                <div class="card-block">
                    <p class="card-text">@url</p>
                </div>
            </div>

        }
    </div>
</div>
